.credentialsSection{
    margin: 10rem auto 8rem auto;
    /* border: 1px solid blue; */
}

.credentialsSection h2{
    font-size: 2.5rem;
    color: var(--home-color);
}

.credentialsSection p{
    font-size: 1.2rem;
    max-width: 40%;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    color: var(--home-color);
}



/* ===============login form ==================================== */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login p{
    text-align: center;
}

.credentialsSection .loginForm{
    margin: 3rem auto;
    /* border: 1px solid red; */
    width: 40%;
}

.credentialsSection .loginForm form{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.credentialsSection .loginForm form input[type="text"],
.credentialsSection .loginForm form input[type="email"],
.credentialsSection .loginForm form input[type="password"]{
    width: 100%;
    height: 3.3rem;
    outline: none;
    padding: 0 1rem;
}

.credentialsSection .loginForm form input[type="email"],
.credentialsSection .loginForm form input[type="password"]{
    margin-top: 2rem;
}

.credentialsSection .loginForm form p{
    font-size: 1.3rem;
    color: var(--home-color);
}

.credentialsSection .loginForm form div{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
}

.credentialsSection .loginForm form div input[type="submit"]{
    width: 30%;
    height: 3.3rem;
    margin-top: 2rem;
    cursor: pointer;
}

